* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.banner {
  /* border: 1px solid black; */
  width: 100vw;
  height: 90vh;
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.banner>h1 {
  padding-top: 200px;
  font-family: "Playwrite AT", cursive;
  color: white;
  font-size: 48px;
}

.banner p {
  color: white;
  font-size: 20px;
}

.hero-section {
  margin: 100px 0;
}

.hero-section>img {
  width: 300px;
  border-radius: 150px;
}

.hero-section h2 {
  margin: 50px 0;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
}

.hero-section p {
  width: 25%;
  margin: auto;
  justify-content: center;
}

.about {
  border: 1px solid black;
}

.about > h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}
.skills {
  border: 1px solid black;
}

.skill-1 > img {
  width: 300px;
  /* float: left; */
}

.skill-2 > img {
  width: 300px;
  /* float: left; */
}